html{
  /* background-color: #eee; */
}

.App {
  font-size: .8rem;
  text-align: center;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
p{
  margin: 0;
}
.playground-panel{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 900px) {
  .playground-panel{
    flex-direction: column;
  }
  .data-panel, .color-palete{
    margin: auto;
  }
}

.data-panel{
  background-color: azure;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: .7rem;
}

.log-panel{
  display: flex;
  flex: 1;
  font-size: .8rem;
  background-color: #eee;
  width: 100vw;
  /* height: auto; */
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 0;
}
.log-panel ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0 30px 20px;
}
.log-pannel-color-text{
  /* color: coral; */
  /* font-weight: bold; */
}
.log-panel-buttons{
  display: flex;
  height: 40px;
  width: auto;
}
.log-panel-data-button{
  padding: 5px;
  border: none;
  background-color: lightsalmon;
  border-bottom: solid 4px lightcoral;
  color: white;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.log-panel-compile-button{
  padding: 5px;
  border: none;
  background-color: rgb(18, 182, 182);
  border-bottom: solid 4px teal;
  color: white;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.log-panel-test-button{
  padding: 5px;
  border: none;
  background-color: salmon;
  border-bottom: solid 4px rgb(190, 97, 86);
  color: white;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.log-panel-buttons button:hover{
  border-bottom:none;
}

.network-panel{
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
.network-panel button{
  border: none;
  background: none;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.network-layer{
  min-width: 40px;
  height: 100%;
  opacity: .4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: aliceblue; */
}
.layer-activation{
  outline: none;
  padding: 3px;
  border-radius: 3px;
}
.layer-activation:focus{
  background-color: lightgray;
}
.add-layer-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  opacity: .4;
  /* background-color: red; */
}
.network-neuron{
  width: 50px;
  border: solid 3px ;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 10px red; */
  height: 50px;
  border-radius: 50%;
  margin: 20px 0;
  background: none;
}
.network-neuron-bias{
  position: absolute;
  font-size: .7rem;
}

.data-point{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}
.color-palete{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  width: 600px;
}
.color-pad-container{

  position: relative;
}
.color-pad{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.network-layer-names{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layer-nodes{
  
}

.layer-buttons{
  cursor: pointer;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.data-point-clear-button{
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: -5px;
  margin-left: 5px;
  border: none;
  background-color: tomato;
  border-radius: 5px;
  color: white;
}





input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: auto; /*Specific width is required for Firefox.*/
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eee;
  /* border: solid 2px #666; */
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
   /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eee;
  /* border: solid 2px #666; */
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #eee;
  /* border: solid 2px #666; */
  cursor: pointer;
}

/* TRACK */


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eee;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #eee;
  border-radius: 5px;
  
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #eee;
  border-radius:5px;
  
}
input[type=range]:focus::-ms-fill-lower {
  background: #eee;
}
input[type=range]::-ms-fill-upper {
  background: #eee;
  border-radius:5px;
  
}
input[type=range]:focus::-ms-fill-upper {
  background: #eee;
}